@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .infoText {
    @apply p-4  rounded-lg max-w-[300px] bg-gray-200/50
  }

  .chatRow {
    @apply rounded-lg px-5 py-3 text-sm flex items-center justify-center space-x-2
     hover:bg-gray-700/70 cursor-pointer text-gray-900 dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700
     transition-all duration-200 ease-out

  }
}

select:not([size]) {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 20 20'%3E%3Cpath stroke='%236B7280' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='m6 8 4 4 4-4'/%3E%3C/svg%3E");
  background-position: right 0.5rem center;
  background-repeat: no-repeat;
  background-size: 1.5em 1.5em;
  padding-right: 2.5rem;
  -webkit-print-color-adjust: exact;
  -webkit-appearance: none;
  print-color-adjust: exact;
}